body {
    background: url('../img/_256246b0-fc52-4f14-b6f5-1820467cefbd.jfif');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    /* Запрещает прокрутку по горизонтали */
    overflow-y: hidden;
    /* Запрещает прокрутку по вертикали */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div:not([class]) {
    animation: fadeIn 2s ease-in-out;
}

.free {
    margin: 0px 0px;
}

.glav {
    margin-top: 4rem;
}

.clas {
    justify-content: center;
    display: flex;
}

.imge {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid #ffffff;
}

.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 2rem;
    text-align: center;
}

.text-text {
    width: 30rem;
}


.yti {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bit {
    border: 0px solid #fff;
    border-radius: 0.5rem;

}

.bit:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 0.5rem;
    transition: 1s;

}


.button {
    background-color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    cursor: pointer;

}

.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}

.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.alert-exit {
    opacity: 1;
}

.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

@media (max-width: 813px) {
    body {
        background: url('../img/_256246b0-fc52-4f14-b6f5-1820467cefbd.jfif') no-repeat center center;
        background-size: 200% 200%; /* Увеличивает размер изображения до 150% от оригинала */
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
@media (max-width: 569px) {
    body {
        background: url('../img/_256246b0-fc52-4f14-b6f5-1820467cefbd.jfif') no-repeat center center;
        background-size: 250% 250%; /* Увеличивает размер изображения до 150% от оригинала */
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
@media (max-width: 669px) {
    body {
        background: url('../img/_256246b0-fc52-4f14-b6f5-1820467cefbd.jfif') no-repeat center center;
        background-size: 200% 1000%; /* Увеличивает размер изображения до 150% от оригинала */
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .text-text {
        width: 24rem;
        font-size: 1.3rem;
    }
}
@media (max-width: 470px) {
    body {
        background: url('../img/_256246b0-fc52-4f14-b6f5-1820467cefbd.jfif') no-repeat center center;
        background-size: 100% 1000%; /* Увеличивает размер изображения до 150% от оригинала */
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
